<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
        <title>eBook APP - {% block title %}Welcome!{% endblock %}</title>
    </head>

    <body>
        <div>
            <h1>{% block myhdg %}Hello {{request.user.username}} {% endblock %}</h1>
            {% block body_block %}*** {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                <li class="hbar1"><a href="{% url 'myapp:about' %}">Find out about this site</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:findbooks' %}">Click here to find a book</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:place_order' %}">Click here to place an order</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:review' %}">Click here to review a book</a><br></li>
            </ul>
        </div>
    </body>
</html>
